{% extends 'myadmin/base.html' %}
{% load static %}

{% block style_sheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'viewstudent_app.css' %}"/>
{% endblock %}

{% block main_body %}
    <h1 style="font-size: 20; color:aqua; font-weight:bold;">Student Applications View</h1>
    <hr>
    <table border = "1px" style="border-collapse: collapse;">
        <thead>
        <tr style="height: 50px; font: size 30px;">
            <th class = "viewtable_id">State ID</th>
            <th class = "viewtable_name">Name</th>
            <th class = "viewtable_GPA">GPA</th>
            <th class = "viewtable_status">status</th>
            <th class = "viewtable_action">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for s in stuApplist %}
        <tr>
            <td>{{s.stateid}}</td>
            <td>{{s.stuName}}</td>
            <td>{{s.GPA}}</td>
            <td>
                {% if s.curStatus == 0 %}
                    <span style="color:rgb(50, 122, 255)">Waiting for Action</span>
                {% elif s.curStatus == 1 %}
                    <span style="color:rgb(38, 253, 56)">Accepted</span>
                {% else %}
                    <span style="color:rgb(255, 20, 20)">Rejected</span>
                {% endif %}
            </td>
            <td style="text-align: center;">
                <a href="{% url 'stuapp_deal' s.stateid %}" id = "action" style="display: block;
                height:18px; 
                width:60px; 
                background-color:#40a0fa; 
                font-weight: bold;
                border-radius: 10px;
                text-align:center;">Action</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class = "paginator">
        <ul>
            <li>
                <a href="{% url 'stuapp_view' pIndex|add:-1 %}?{{myKey|join:'&'}}">prev</a>
            </li>
            {% for i in pRange %}
                <li>
                    <a href="{% url 'stuapp_view' i %}?{{myKey|join:'&'}}" {% if i == pIndex %} style="color: red;" {% endif %}>{{i}}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{% url 'stuapp_view' pIndex|add:1 %}?{{myKey|join:'&'}}">next</a>
            </li>
        </ul>
    </div>
    <div class="search_form">
        <form action="{% url 'stuapp_view' 1 %}" method="get">
            <input type="text" name="keyword">
            <button type="submit">Search</button>
        </form>
    </div>
{% endblock %}