*{margin:0; padding:0;}

a{text-decoration:none}

.nav li a{ 
            display:block; 
            height:50px; 
            line-height:50px; 
            width:220px; 
            background-color:#74f6ff; 
            margin-bottom:1px;
            font-weight: bold;
            border-radius: 8px;
            list-style-type: none;
            font-size: 18px;
}
.nav li a:hover{ background-color:#F60; color:#fff}

#logout {
    display:block;
    height:50px; 
    line-height:50px; 
    width:100px; 
    background-color:#85a6ff; 
    font-weight: bold;
    border-radius: 30px;
    float:right;
    position: relative;
}
#logout:hover{ background-color:rgb(151, 255, 191); color:rgb(243, 45, 111) }

#logout_area{
    position: absolute;
    top: 20px;
    right: 0px;
    width: 110x;
    height: 60px;
}
tr th{
    font-weight: bold;
    color: #26ffac;
    text-align: center;
}

