{% extends 'myadmin/base.html' %}
{% load static %}

{% block style_sheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'viewstudent.css' %}"/>
{% endblock %}

{% block main_body %}
    <h1 style="font-size: 20; color:aqua; font-weight:bold;">Student Management</h1>
    <hr>
    <table border = "1px" style="border-collapse: collapse;">
        <thead>
        <tr style="height: 50px; font: size 30px;">
            <th class = "viewtable_id">ID</th>
            <th class = "viewtable_name">Name</th>
            <th class = "viewtable_username">username</th>
            <th class = "viewtable_password">password</th>
            <th class = "viewtable_gender">gender</th>
            <th class = "viewtable_GPA">GPA</th>
            <th class = "viewtable_email">email</th>
            <th class = "viewtable_cp">complain received</th>
            <th class = "viewtable_classtaking">class taking</th>
            <th class = "viewtable_classtaken">Completed Classes</th>
            <th class = "viewtable_status">status</th>
            <th class = "viewtable_action">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for s in stulist %}
        <tr>
            <td>{{s.sid}}</td>
            <td>{{s.stuName}}</td>
            <td>{{s.username}}</td>
            <td>{{s.pw}}</td>
            <td>{{s.gender}}</td>
            <td>{{s.GPA}}</td>
            <td>{{s.email}}</td>
            <td>{{s.cp_num}}</td>
            <td>{{s.class_taking}}</td>
            <td>{{s.class_taken}}</td>
            <td>
                {% if s.curStatus == 0 %}
                    <span style="color:crimson">Suspended</span>
                {% elif s.curStatus == 1 %}
                    <span style="color:greenyellow">Normal</span>
                {% else %}
                    <span style="color:rgb(25, 131, 238)">Graduated</span>
                {% endif %}
            </td>
            <td style="text-align: center;">
                <a href="{% url 'student_edit' s.sid %}" id = "action" style="display: block;
                height:18px; 
                width:60px; 
                background-color:#40a0fa; 
                font-weight: bold;
                border-radius: 10px;
                text-align:center;">Edit</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class = "paginator">
        <ul>
            <li>
                <a href="{% url 'student_view' pIndex|add:-1 %}?{{myKey|join:'&'}}">prev</a>
            </li>
            {% for i in pRange %}
                <li>
                    <a href="{% url 'student_view' i %}?{{myKey|join:'&'}}" {% if i == pIndex %} style="color: red;" {% endif %}>{{i}}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{% url 'student_view' pIndex|add:1 %}?{{myKey|join:'&'}}">next</a>
            </li>
        </ul>
    </div>
    <div class="search_form">
        <form action="{% url 'student_view' 1 %}" method="get">
            <input type="text" name="keyword">
            <button type="submit">Search</button>
        </form>
    </div>
    <br><br><br>
    <div>
        <a href="{% url 'student_add' %}" id = "add_stu">Add a student</a>
    </div>
{% endblock %}